<h1>Python 1 - Overview</h1>
<p>
  Bootcamp will cover Python fundamentals while making a music playlist program
</p>
<ul>
<li>Evaluating primitive types in python: type()</li>
<li>Declaring variables and variable declaration conventions: =</li>
<li>Math Operators and string concatenation: (+ , - , * , /,%)</li>
<li>IF and WHILE statements with conditional operators: (==, >, >=, break)</li>
<li>User input: input()</li>
<li>Data collections - Lists: ([ ], append(), insert(), del, pop(), len(), sort())</li>
<li>Data collections - Dictionaries: ({ },[ ], insert(), del, clear(), keys(), values())</li>
<li>Declaring custom functions: def, return</li>
<li>Classes and object oriented programming: class(), __init__(), methods</li>
<li>Automating with FOR loops: for, in</li>
</ul>

## Jupyter Notebook 

This is a web-based application (runs in the browser) that is used to interpret Python code. 

- To add more code cells (or blocks) click on the **'+'** button in the top left corner
- There are 3 cell types in Jupyter:
    - Code: Used to write Python code
    - Markdown: Used to write texts (can be used to write explanations and other key information)
    - NBConvert: Used convert Jupyter (.ipynb) files to other formats (HTML, LaTex, etc.) 
    

- To run Python code in a specific cell, you can click on the **'Run'** button at the top or press **Shift + Enter**
- The number sign (#) is used to insert comments when coding to leave messages for yourself or others. These comments will not be interpreted as code and are overlooked by the program

<img src="images/jupyter_visual.png"/>

<h1>Data Types</h1>
<ul>
  <li>
   Four primitive types in Python
    <ol>
      <li>
        Integers
      </li>
      <li>
        Booleans
      </li>
      <li>
        Floats
      </li>
      <li>
        Strings
      </li>
    </ol>
 <li>
   Types may be changed using int(), str(), float(), and bool() methods    
 </li>
</ul>

In [1]:
# The type() function will return the data type of the data passed to it

type("Hello!")

str

In [2]:
type(True)

bool

In [3]:
type(3.14)

float

In [4]:
type(3)

int

In [5]:
# Casting - converting from one data type to another
print(type(float(3)))
print(int(3.55))

<class 'float'>
3

In [6]:
# Try to cast a string to a boolean so that it returns false
print(bool(''))

False

In [7]:
# Try to cast an int to a boolean so that it returns false
print(bool(0))

False

<h1>Variables</h1>
<ul>
  <li>
    May consist of letters, numbers, and underscores, but not spaces.
    <ul>
      <li>
        <b>Cannot start with a number.</b>
      </li>
    </ul>
  </li>
  <li>
    Avoid using Python keywords (for, if, and, or, etc.)
</li>
  <li>
    Be careful when using 1s and lower case ls, as well as 0s and Os.
</li>
  <li>
    Keep it short.
  <li>
    Example: phone_num = 647606
  <li>
    In Jupyter, we need to be very careful when running cells when we use variables!
</li>
    
</ul>

In [8]:
# In the code below, the variable `hours_worked` has been assigned
# an integer value of 10.
hours_worked = 10

In [9]:
print(hours_worked)

10

<h1>Math Operators</h1>
<ul>
  <li>
    Addition, Subtration, Multiplication and Division may be done using basic math operators (+ , - , * , /,%).
  </li>
  <li>
    Python will also try to interpret your code with other data types
  </li>
  <ul>
      <li>(+) may be used with strings!
      <li> However, the usability is limited, instead we will introduce functions
      </li></ul>
</ul>

In [10]:
# Create two variables, price1 and price2 that have float values representing the respective price of two items
price1 = 3.40
price2 = 2.51

# Create a new variable whose value is the sum of the prices
tot_price = price1 + price2
# Python can perform all the typical mathematical operations
diff_price = price1 - price2
mult_price = price1 * price2
div_price = price1 / price2
print(tot_price)

5.91

<h1>Functions</h1>
<ul>
  <li>
   We cannot perform all math on strings, as it sometimes doesn't make sense
  <li>
   Instead we use functions, prewritten sets of instructions
  <li>
      To use a function on a string, we use the <b>dot operator</b>
  </li>
  <li>
      The general form will be <i>string_variable<b>.</b>function_name(function_arguments)</i>
    </li>
  <li>We'll talk more about functions later in the session</li>
</ul>

In [11]:
#A few string functions
employment = "I work with python"
print(employment.title())
print(employment.lower())

print(employment.index("work"))
print(employment.split(" "))
print(employment.replace("python", "Finance"))

I Work With Python
i work with python
2
['I', 'work', 'with', 'python']
I work with Finance

In [12]:
# With F strings, variables go directly into a string! Even methods!
name = "Seamus"
tool = "python"
print(f"{name} works with {tool.upper()}")

Seamus works with PYTHON

In [13]:
# A boolean can only have one of two values. Either they are "True" or "False". 
# Variables "yes" and "no" have been assigned boolean variables of "True" and "False", respectively.

yes = True
no = False

<h1>IF and WHILE Statements</h1>
<ul>
  <li>
    Will only run indented code if condition is true
  <li>
    Make use of <b>conditional operators</b> to create tests
  </li>
  <ul><li>(==) will return true if both variables are equal</li>
  <li>(>) will return true if left variable is larger</li>
  <li>(>=) will return if left variable is larger or equal to right variable</li></ul>
  <li>IF will only run indented code once, WHILE will run indented code until condition is no longer true</li>
</ul>

In [14]:
# Boolean variables are generally used for conditional statements such as an if statement.
# The below lines of code uses boolean variables to determine whether or not the following functions will run.
if yes:
    print("True Statement!")

if no:
    print("Will not print")

True Statement!

In [15]:
#New variable to keep track of total number of employees
dept_size = 10

In [16]:
# if else statments can also be used with math or anything really (like strings)!

if dept_size >=0 and dept_size < 20:
    print(f"Small Department: {dept_size}")
elif dept_size < 50:
    print(f"Medium Department: {dept_size}")
else:
    print(f"Large Department: {dept_size}")

Small Department: 10

In [17]:
# While loops will keep running a loop of code until the intial condition is no longer true
# It is important to always have a breaking condition to stop the loop so it does not run infinitely
limit = 10
dept_size = 0
while dept_size < limit:
    print(dept_size)
    dept_size += 1
    
    if dept_size == 8:
        break # The 'break' statement in Python is used to close/end a loop

0
1
2
3
4
5
6
7

<h1>Lists</h1>
<ul>
  <li>
   Collection of items in a particular order
  <li>
   They are used to store data and can be assigned to variables just like integers and strings
  <li>
   Indexing (order) starts from <b>0</b>
  </li>
  <li>Accessing items in a list can be done with square brackets ([ ])</li>
  <li>Items can be easily added to lists using append() and insert() methods</li>
</ul>

In [18]:
# Lists are a collection of data. List numberings always start from 0.

banks = ["RBC", "CIBC", "TD", "BMO"]
print(banks[0]) # Here the first item in the list is at index 0
print(banks[3]) # The third item in the list is at index 4

#Can use a colon to indicate range of indices
print(banks[0:3]) # From the first to third item
print(banks[:1])
print(banks[2:]) 

#Negative indexing goes from Right to Left, starting from -1
print(banks[-1])

#Reassign values with square brackets as well
banks[0] = "Scotiabank"
print(banks)

#Cannot do artists[4]  = ""

RBC
BMO
['RBC', 'CIBC', 'TD']
['RBC']
['TD', 'BMO']
BMO
['Scotiabank', 'CIBC', 'TD', 'BMO']

In [19]:
# add value to end of a list - Canadian Western Bank
# The .append() function can be used!
banks.append("CWB") 
print(banks)

['Scotiabank', 'CIBC', 'TD', 'BMO', 'CWB']

In [20]:
# add value to the start of a list  - First Nations Bank of Canada
banks.insert(0, "FNBC")
print(banks)

# Return the length of the list
len(banks)

['FNBC', 'Scotiabank', 'CIBC', 'TD', 'BMO', 'CWB']

6

In [21]:
# Remove list entries
del banks[4]
print(banks)

['FNBC', 'Scotiabank', 'CIBC', 'TD', 'CWB']

<h1>Dictionaries</h1>
<ul>
  <li>
   Collection of key-value pairs
  <li>
   No positions as with lists, values stored at specific key
    <ul><li>keys can be of any data type</li></ul>
  </li>
  <li>Accessing values in a dictionary can still be done with square brackets ([ ])</li>
  <li>Declared using braces ({ })</li>
</ul>

In [22]:
# collection of "data" which is unordered, changeable, and not indexed. They have keys and values.
employee = { "name": "Peter", "employee_num": 314425, "workplace": "RBC"} 
# Here, 'name', 'employee_num', and 'department' are keys, and 'Peter', '314425', and 'IT' are the corresponding values
print(employee)

{'name': 'Peter', 'employee_num': 314425, 'workplace': 'RBC'}

In [23]:
# Access key values using ['key_name']
employee["name"]

'Peter'

In [24]:
# Reassign a key value
employee["workplace"] = "TD"
print(employee["workplace"])

TD

In [25]:
# Add a new key 
employee["management"] = False
print(employee)

{'name': 'Peter', 'employee_num': 314425, 'workplace': 'TD', 'management': False}

In [26]:
# Can remove a key easily using del
# Other keys are unaffected when you use 'del' to remove a key
del employee["management"]
print(employee)

{'name': 'Peter', 'employee_num': 314425, 'workplace': 'TD'}

In [27]:
#Dictionary methods return iterables
print(employee.items())
print(employee.keys())
print(employee.values())

# Cannot do print(employee.keys[0]) because it is not a list
# Iterables are data objects that can be 'interated' over, like in loops 
# Iterables to be used with keyword IN ('IN' example is covered in the next cell blocks and section with 'For' Loops)

dict_items([('name', 'Peter'), ('employee_num', 314425), ('workplace', 'TD')])
dict_keys(['name', 'employee_num', 'workplace'])
dict_values(['Peter', 314425, 'TD'])

In [28]:
# You can use dictionaries and lists in 'if' statments. 

#Will look through keys by default
if "name" in employee:
    print("Yes, name is one of the keys in this dictionary")
else:
    print("no")

Yes, name is one of the keys in this dictionary

<h1>For Loops</h1>
<ul>
  <li>
   Execute a block of code once for each item in collection (List/Dictionary)
  <li>
   Declare temporary variable to iterate through collection
  </li>
  <li>Can be used in combination with IF statements</li>
</ul>

In [29]:
#Loop through banks list
for bank in banks:
    print(bank)

FNBC
Scotiabank
CIBC
TD
CWB

In [30]:
#Loop through pairs in employee dictionary
for key in employee:
    print(key)

for key, value in employee.items():
    print(f"{key}: {value}")

name
employee_num
workplace
name: Peter
employee_num: 314425
workplace: TD

In [31]:
# Use RANGE to specify a number of iterations 
for i in range(len(banks)): # The len() function returns the length of the previously defined 'banks' list 
    print(i)

0
1
2
3
4

In [32]:
# Make a loop that prints all odd values from 1 to 21
for i in range(1,22,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21

<h1>Functions</h1>
<ul>
  <li>
   Named blocks of code that do one specific job
  <li>
   Functions are also referred to as methods
  <li>
   Prevents rewriting of code that accomplishes the same task
  </li>
  <li>Keyword <i>def</i> used to declare functions</li>
  <li>Variables may be passed to functions</li>
</ul>

In [33]:
# In this function 'name', 'employee_num', and 'department' are required values that must be passed to the function
def description(name, employee_num, workplace): 
    print(f"{name} - Employee Number: {employee_num} - works at: {workplace}")

description("Mike", 12210, "CIBC") 
description(employee['name'], employee['employee_num'], employee['workplace'])

Mike - Employee Number: 12210 - works at: CIBC
Peter - Employee Number: 314425 - works at: TD

<h1>Classes</h1>
<ul>
    <li><b>NOTE: We cover classes in the next section, but here's a primer if you're interested</b>
  <li>
  Object-orientated programming approach popular and efficient
  </li>
  <li>
   Define classes of real-world things or situations (can be thought of as creating your own data type)
    <ul>
      <li>Attributes of various data types</li>
      <li>Functions inside of a class are the same except called methods</li>
      <li>Methods may be accessed using the dot operator</li>
    </ul>
  </li>
  <li>Instanciate objects of your classes</li>
  <li>__init()__ method used to prefill attributes</li>
  <li>Capitalize class names</li>
</ul>

In [34]:
class Employee():    
    """A simple attempt to represent am employee."""
    def __init__(self, name, employee_num, department ):        
        self.name = name
        self.employee_num = employee_num        
        self.department = department        
        
        
    def description(self): # Creating a function (a.k.a method) that can be used by instances of this class
        print(f"{self.name} (employee number: {self.employee_num}) - Dept: {self.department}")

In [35]:
employee1 = Employee("Mike", 12210, "Marketing")
employee2 = Employee("Peter", 31445, "IT")
employee1.description()
employee2.description()

Mike (employee number: 12210) - Dept: Marketing
Peter (employee number: 31445) - Dept: IT

<h1>User Input</h1>
<ul>
  <li><b>OPTIONAL: Not covred during the bootcamp.</b> Just some extra content if you're interested!
  <li>
     Pauses your program and waits for the user to enter some text
  <li>
    Variable used with Input() will be a <b>string</b> even if user inputs an integer
  </li>
  <ul><li>Will need to make use of <b>type casting.</b></li></ul>
</ul>

In [36]:
#Ask user for a name
my_age = input("Enter your age.\n")
print(f"Entered age is {my_age}")
print(f"You were born in {2020 - int(my_age)}")

Enter your age.
22
Entered age is 22
You were born in 1998

<h1>Putting it all Together</h1>
<ul>
    <li> This is an optional section - a great way to practice everything we've learned!
  <li>
      Note that to do this, you're expected to know both <b>classes</b> and <b>input</b>
  <li>
      Let's create a new <b>Employee</b>
  <li>
    We can then use our class methods easily!
  </li>
</ul>

In [37]:
employee_input = input("Enter your name, employee number and department.\n")
name = employee_input.split(' ')[0]
employee_num = employee_input.split(' ')[1]
department = employee_input.split(' ')[2]
new_employee = Employee(name,employee_num,department)
new_employee.description()

Enter your name, employee number and department.
Seamus 3453243 Bootcamps
Seamus (employee number: 3453243) - Dept: Bootcamps