<h1>Python 1 - Overview</h1>
<p>
  Bootcamp will cover Python fundamentals while making a music playlist program
</p>
<ul>
<li>Evaluating primitive types in python: type()</li>
<li>Declaring variables and variable declaration conventions: =</li>
<li>Math Operators and string concatenation: (+ , - , * , /,%)</li>
<li>IF and WHILE statements with conditional operators: (==, >, >=, break)</li>
<li>User input: input()</li>
<li>Data collections - Lists: ([ ], append(), insert(), del, pop(), len(), sort())</li>
<li>Data collections - Dictionaries: ({ },[ ], insert(), del, clear(), keys(), values())</li>
<li>Declaring custom functions: def, return</li>
<li>Classes and object oriented programming: class(), __init__(), methods</li>
<li>Automating with FOR loops: for, in</li>
</ul>

## Jupyter Notebook 

This is a web-based application (runs in the browser) that is used to interpret Python code. 

- To add more code cells (or blocks) click on the **'+'** button in the top left corner
- There are 3 cell types in Jupyter:
    - Code: Used to write Python code
    - Markdown: Used to write texts (can be used to write explanations and other key information)
    - NBConvert: Used convert Jupyter (.ipynb) files to other formats (HTML, LaTex, etc.) 
    

- To run Python code in a specific cell, you can click on the **'Run'** button at the top or press **Shift + Enter**
- The number sign (#) is used to insert comments when coding to leave messages for yourself or others. These comments will not be interpreted as code and are overlooked by the program

<img src="images/jupyter_visual.png"/>

<h1>Data Types</h1>
<ul>
  <li>
   Four primitive types in Python
    <ol>
      <li>
        Integers
      </li>
      <li>
        Booleans
      </li>
      <li>
        Floats
      </li>
      <li>
        Strings
      </li>
    </ol>
 <li>
   Types may be changed using int(), str(), float(), and bool() methods    
 </li>
</ul>

In [1]:
# The type() function will return the data type of the data passed to it

In [2]:
# Casting - converting from one data type to another

In [ ]:
# Try to cast a string to a boolean so that it returns false

<h1>Variables</h1>
<ul>
  <li>
    May consist of letters, numbers, and underscores, but not spaces.
    <ul>
      <li>
        <b>Cannot start with a number.</b>
      </li>
    </ul>
  </li>
  <li>
    Avoid using Python keywords (for, if, and, or, etc.)
</li>
  <li>
    Be careful when using 1s and lower case ls, as well as 0s and Os.
</li>
  <li>
    Keep it short.
  <li>
    Example: phone_num = 647606
      <li>
    In Jupyter, we need to be very careful when running cells when we use variables!
</li>
    
</ul>

<h1>Math Operators</h1>
<ul>
  <li>
    Addition, Subtration, Multiplication and Division may be done using basic math operators (+ , - , * , /,%).
  </li>
  <li>
    Python will also try to interpret your code with other data types
  </li>
  <ul>
      <li>(+) may be used with strings!
      <li> However, the usability is limited, instead we will introduce functions
      </li></ul>
</ul>

In [3]:
# Create two variables, price1 and price2 that have float values representing the respective price of two items


# Create a new variable whose value is the sum of the prices

<h1>Functions</h1>
<ul>
  <li>
   We cannot perform all math on strings, as it sometimes doesn't make sense
  <li>
   Instead we use functions, prewritten sets of instructions
  <li>
      To use a function on a string, we use the <b>dot operator</b>
  </li>
  <li>
      The general form will be <i>string_variable<b>.</b>function_name(function_arguments)</i>
    </li>
  <li>We'll talk more about functions later in the session</li>
</ul>

In [5]:
#A few string functions

In [6]:
# With F strings, variables go directly into a string! Even methods!

In [7]:
# A boolean can only have one of two values. Either they are "True" or "False".

<h1>IF and WHILE Statements</h1>
<ul>
  <li>
    Will only run indented code if condition is true
  <li>
    Make use of <b>conditional operators</b> to create tests
  </li>
  <ul><li>(==) will return true if both variables are equal</li>
  <li>(>) will return true if left variable is larger</li>
  <li>(>=) will return if left variable is larger or equal to right variable</li></ul>
  <li>IF will only run indented code once, WHILE will run indented code until condition is no longer true</li>
</ul>

In [8]:
# Boolean variables are generally used for conditional statements such as an if statement.

In [9]:
# if else statments can also be used with math or anything really (like strings)!

In [10]:
# While loops will keep running a loop of code until the intial condition is no longer true
# It is important to always have a breaking condition to stop the loop so it does not run infinitely

<h1>Lists</h1>
<ul>
  <li>
   Collection of items in a particular order
  <li>
   They are used to store data and can be assigned to variables just like integers and strings
  <li>
   Indexing (order) starts from <b>0</b>
  </li>
  <li>Accessing items in a list can be done with square brackets ([ ])</li>
  <li>Items can be easily added to lists using append() and insert() methods</li>
</ul>

In [12]:
# Lists are a collection of data. List numberings always start from 0.

In [13]:
# add value to end of a list - Canadian Western Bank
# The .append() function can be used!

In [14]:
# add value to the start of a list  - First Nations Bank of Canada

In [15]:
# Remove list entries

# Return the length of the list

<h1>Dictionaries</h1>
<ul>
  <li>
   Collection of key-value pairs
  <li>
   No positions as with lists, values stored at specific key
    <ul><li>keys can be of any data type</li></ul>
  </li>
  <li>Accessing values in a dictionary can still be done with square brackets ([ ])</li>
  <li>Declared using braces ({ })</li>
</ul>

In [17]:
# collection of "data" which is unordered, changeable, and not indexed. They have keys and values.

In [18]:
# Can remove a key easily using del

# Other keys are unaffected when you use 'del' to remove a key

In [19]:
#Dictionary methods return iterables

# Cannot do print(employee.keys[0]) because it is not a list
# Iterables are data objects that can be 'interated' over, like in loops 
# Iterables to be used with keyword IN ('IN' example is covered in the next cell blocks and section with 'For' Loops)

In [20]:
# You can use dictionaries and lists in 'if' statments. 

#Will look through keys by default

<h1>For Loops</h1>
<ul>
  <li>
   Execute a block of code once for each item in collection (List/Dictionary)
  <li>
   Declare temporary variable to iterate through collection
  </li>
  <li>Can be used in combination with IF statements</li>
</ul>

In [21]:
#Loop through banks list

In [22]:
#Loop through pairs in employee dictionary

In [23]:
# Use RANGE to specify a number of iterations

In [ ]:
# Make a loop that prints all odd values from 1 to 21

<h1>Functions</h1>
<ul>
  <li>
   Named blocks of code that do one specific job
  <li>
   Functions are also referred to as methods
  <li>
   Prevents rewriting of code that accomplishes the same task
  </li>
  <li>Keyword <i>def</i> used to declare functions</li>
  <li>Variables may be passed to functions</li>
</ul>

In [24]:
# In this function 'name', 'employee_num', and 'department' are required values that must be passed to the function

<h1>Classes</h1>
<ul>
    <li><b>NOTE: We cover classes in the next section, but here's a primer if you're interested</b>
  <li>
  Object-orientated programming approach popular and efficient
  </li>
  <li>
   Define classes of real-world things or situations (can be thought of as creating your own data type)
    <ul>
      <li>Attributes of various data types</li>
      <li>Functions inside of a class are the same except called methods</li>
      <li>Methods may be accessed using the dot operator</li>
    </ul>
  </li>
  <li>Instanciate objects of your classes</li>
  <li>__init()__ method used to prefill attributes</li>
  <li>Capitalize class names</li>
</ul>

In [1]:
class Employee():    
    pass

<h1>User Input</h1>
<ul>
  <li><b>OPTIONAL: Not covred during the bootcamp.</b> Just some extra content if you're interested!
  <li>
     Pauses your program and waits for the user to enter some text
  <li>
    Variable used with Input() will be a <b>string</b> even if user inputs an integer
  </li>
  <ul><li>Will need to make use of <b>type casting.</b></li></ul>
</ul>

In [ ]:
#Ask user for age

<h1>Putting it all Together</h1>
<ul>
    <li> This is an optional section - a great way to practice everything we've learned!
  <li>
      Note that to do this, you're expected to know both <b>classes</b> and <b>input</b>
  <li>
      Let's create a new <b>Employee</b>
  <li>
    We can then use our class methods easily!
  </li>
</ul>

In [ ]:
#Read a string from the user with 3 different values

#Use .split() to separate them, and create a new Employee

# Now, let's call .description() and see what happens